<!--
    change class (buttons and bullet points) and data-filter names here also to your needs
-->

<!--
    you can make this longer than your resume, but do it well!
    I would add some more bullet points
    AND/OR an INTERESTS section
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tashrif Apon Resume</title>
    <link rel="stylesheet" href="static/resume.css">

    <!-- If you have favicons
    <link rel="icon" type="image/png" href="static/logo/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="static/logo/favicon.svg" />
    <link rel="shortcut icon" href="static/logo/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/logo/apple-touch-icon.png" />
    <link rel="manifest" href="static/logo/site.webmanifest" />
    -->
    <script src="static/resume.js"></script> <!-- lightweight so it's fine here -->
</head>

<body>
    <button class="pdf-button" onclick="toggleResume()">PDF Version</button>

    <div class="visit-text">
        <span id="total-visits"></span> Visits<br>
        <span id="html-views"></span> HTML Views<br>
        <span id="pdf-views"></span> PDF Views
    </div>

    <div class="filter-buttons">
        <b>Filter By:</b>
        <button class="filter-button python-btn" data-filter="highlight-python" onclick="filterKeywords(this)">Python</button>
        <button class="filter-button frontend-btn" data-filter="highlight-frontend" onclick="filterKeywords(this)">Front End</button>
        <button class="filter-button c-sharp-btn" data-filter="highlight-c-sharp" onclick="filterKeywords(this)">C#</button>
        <button class="filter-button db-btn" data-filter="highlight-db" onclick="filterKeywords(this)">Database</button>
        <button class="filter-button power-btn" data-filter="highlight-power" onclick="filterKeywords(this)">Power Platform</button>
        <button class="filter-button devops-btn" data-filter="highlight-devops" onclick="filterKeywords(this)">DevOps</button>
        <input type="text" id="searchInput" placeholder="Custom search..." oninput="filterByUserInput(this.value)">
    </div>

    <div class="query_result">
        <span id="lineCount"></span> bullet point<span id="s"></span> found, content rate: <span id="lineRate"></span>%.
    </div>

    <div class="resume-container">
        <h1>Tashrif Apon</h1>
        <p style="text-align: center;">East Elmhurst, NY 11369 | (929) 346-9867 | tashrifapon2001@gmail.com | <a id="linkedin" href="https://www.linkedin.com/in/tashrifApon" onclick="toLink('linkedin')">LinkedIn</a> | <a id="portfolio" href="https://tashrifapon.pythonanywhere.com/" onclick="toLink('portfolio')">Portfolio</a> | <a id="github" href="https://github.com/tashrifapon" onclick="toLink('github')">GitHub</a></p>
        
        <h2>EDUCATION</h2>
        <p><strong>CUNY Baruch College</strong>, Mathematics BA <span style="float: right;"><strong>Jan. 2022 – Sept. 2024</strong></span></p>
        <p><b>Coursework:</b> Data Structures • Algorithms • Object Oriented Programming • Data Science</p>

        <h2>TECHNICAL SKILLS</h2>
        <p><b>Programming Languages:</b> Python • JavaScript • SQL • HTML • CSS • Power Fx • C++ • C# (.NET)</p>
        <p><b>Libraries & Frameworks:</b> Flask • SQLAlchemy • Selenium • nltk • BeautifulSoup • numpy • scipy • pandas • json</p>
        <p><b>Tools:</b> VS Code • Azure DevOps (MS TFS) • Jupyter Notebook • DB Browser • GitHub</p>
        <p><b>Databases:</b> MS SQL • SQLite • NoSQL • MS Lists</p>

        <h2>WORK EXPERIENCE</h2>
        <p><strong>NYC AG, LLC</strong> <span style="float: right;">Staten Island, NY (Remote)</span></p>
        <p><i>Data Engineer Contractor</i> <span style="float: right;"><strong>Aug. 2024 – Jan. 2025</strong></span></p>
        <p>
            <ul>
                <li><span>Developed an automated data mining SaaS, increasing data output approaching 200% and saving $12K+ yearly</span></li>
                <li><span class="db">Improved ETL process by implementing advanced data validation techniques, improving data accuracy by 40%</span></li>
            </ul>
        </p>

        <p style="padding-top: 10px;"><strong>NYC Department of Health and Mental Hygiene</strong> <span style="float: right;">Long Island City, NY</span></p>
        <p><i>Backend Software Engineer Intern</i> <span style="float: right;"><strong>Aug. 2024 – Dec. 2024</strong></span></p>
        <p>
            <ul>
                <li><span class="db">Created complex MS SQL database structures via T-SQL for 50K+ records to save $2M+</span></li>
                <li><span class="c-db">Optimized backend logic to reduce SQL database server calls by 50% and C# function calls by approximately 88%</span></li>
                <li><span class="py">Automated ETL process for 625K+ datasets via Selenium and Python, saving developers ~9 weeks or $15K+</span></li>
                <li><span class="c-dev">Documented C# implementation upon reviewing 2K+ lines of code in Azure DevOps to assist features integrations</span></li>
                <li><span class="fe">Designed 7 UI/UX proposals using HTML, CSS, and Bootstrap to enhance user experience</span></li>
            </ul>
        </p>

        <p style="padding-top: 10px;"><strong>Metropolitan Transit Authority</strong> <span style="float: right;">Bronx, NY</span></p>
        <p><i>Full Stack Software Engineer Intern</i> <span style="float: right;"><strong>Sept. 2023 – Jun. 2024</strong></span></p>
        <p>
            <ul>
                <li><span class="fe-db-po">Led full stack CRUD development of in PowerApps and 1 microservice SharePoint site to digitize workflows</span></li>
                <li><span class="db-po">Architected innovative ETL system via REST APIs involving 3 MS Lists databases and 1 relational database to enforce user authentication and real-time data tracking, ensuring data governance</span></li>
                <li><span class="po">Automated Outlook notifications in PowerAutomate to boost team efficiency and maintain accountability</span></li>
                <li><span class="po-dev">Debugged and documented Power Fx code to deliver production grade software and aid future maintenance</span></li>
                <li><span class="py-po">Generated Power Fx code in Python to accelerate the SDLC</span></li>
            </ul>
        </p>

        <p style="padding-top: 10px;"><strong>Skillfully</strong> <span style="float: right;">San Francisco, CA (Remote)</span></p>
        <p><i>Technology Consultant Extern</i> <span style="float: right;"><strong>Jun. 2023 – Aug. 2023</strong></span></p>
        <p>
            <ul>
                <li><span class="dev">Applied Agile methodologies to improve the SDLC via structured project planning</span></li>
            </ul>
        </p>

        <h2>PROJECTS</h2>
        <p><b><a href="https://tashrifapon.pythonanywhere.com/TashrifAponResume">Interactive Resume</a></b> | <i>Python, Flask, JavaScript, HTML, CSS, JSON, NoSQL, REST APIs</i> <span style="float: right;"><strong>Feb. 2025 - Present</strong></span></p>
        <p>
            <ul>
                <li><span class="py-fe-db">Built an interactive resume to track user activity and serve dynamic content via DOM manipulation, increasing site visits by 108% and gaining commendation from professionals in Staffing, Venture Capital, Consulting and FinTech</span></li>
                <li><span class="py-fe-db">Integrated engagement analytics via 2 REST APIs, offering actionable feedback for continuous improvement</span></li>
            </ul>
        </p>
        
        <p style="padding-top: 10px;"><b><a href="https://tashrifapon.pythonanywhere.com/Islamic_Midnight">Islamic Midnight Calendar</a></b> | <i>Python, Flask, jinja2, HTML, CSS, JSON, NoSQL, REST APIs</i> <span style="float: right;"><strong>2023 - Present</strong></span></p>
        <p>
            <ul>
                <li><span class="py">Refactored codebase for modularity, eliminating 190 monthly updates, reducing maintenance by a near 100%</span></li>
                <li><span class="py-db">Mined 360+ external records via webhooks and generated 17% more data into document database called by API</span></li>
                <li><span class="py-fe">Optimized backend algorithm from O(n) to O(1) to reduce latency by up to 1197% and frontend code by up to 97%</span></li>
            </ul>
        </p>

        <p style="padding-top: 10px;"><b>LPAedu</b> | <i>Python, Flask, jinja2, HTML, CSS, SQLite, SQLAlchemy, NoSQL</i> <span style="float: right;"><strong>Jan. 2023 - Apr. 2024</strong></span></p>
        <p>
            <ul>
                <li><span>Built an exam-taking platform for 50+ users to take exams with 50+ questions and view their performance metrics</span></li>
                <li><span class="py-db">Incorporated OOP and remodeled 2 database schemas and NoSQL databases to accelerate the SDLC</span></li>
                <li><span class="py-db">Implemented SQLAlchemy ORM (Object-Relational Mapping) to prevent SQL injections</span></li>
                <li><span class="dev">Debugged directory and database errors to restore website accessibility</span></li>
                <!-- your last line should have this style -->
                <li style="margin-bottom: 20px; bottom: 50px"><span class="dev">Led 2 junior programmers to reduce individual workload by 67% through the use of GitHub and Markdown files</span></li>
            </ul>
        </p>        
    </div>

    <iframe class="pdf-container" src="static/TASE.pdf#zoom=auto"></iframe>

    <div class="footer">&copy; 2025 Tashrif Apon</div>

</body>
</html>
